<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}} BLOTTO !</title>
  <link href="/bootstrap.united.min.css" rel="stylesheet">
  <link href="/blotto.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/jquery.min.js"></script>
  <style>
    body {
      padding-top: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="horizons-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Blotto !</a>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:30px;">
    <div class="row">
      {{{body}}}
    </div>
  </div>
  <script src="/bootstrap.min.js"></script>
  <script src="/bootstrap3-typeahead.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
</body>
</html>
